* {
    box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	text-align: center;
	font-size: 15px;
}

header {
    margin: 1rem;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}


button {
background-color:  hsl(224, 93%, 58%);
color: white;
width: 15rem;
height: 2rem;
border:none;
}

form {
background-color: white;
width: 15rem;
height: 2rem;
}

.form {
    display: inline-block;
    border: none;
    margin-bottom: .5rem;
}
img {
	display: block;
	max-width: 100%;
    mix-blend-mode: multiply;
}

.logo-top {
    width: 20%;
    height: 20%;
}

.nav-list {
    text-align: right;
    width: 100%;
    height: 20px;

}
.nav {
    margin: .5rem;
    display: inline;
}

.illustrations {
    margin-top: 6rem;
}

.cover-image-desktop,
.cover-image-mobile {
	object-fit: cover;
}

.cover-image-desktop {
	display: none;
}


.green-button {
    color: hsl(170, 45%, 43%);
    background-color:  hsl(240, 75%, 98%);
}

.cta {
    background-color: hsl(238, 22%, 44%);
}

footer {
background-color: hsl(243, 87%, 12%);
color: white;
text-align: left;
}

ul {
    list-style-type: none;
}


.white-filter {
    display: inline-block;
  width: 50px;
  height: 50px;
  background:white;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

	/* Medias  */

    @media (min-width: 375px) {
        .cover-image-mobile {
            display: none;
        }

        .cover-image-desktop {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .form {
            margin-bottom: 0;
        }
    }