* {
    box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	text-align: center;
	font-size: 15px;
}

header {
    margin: 1rem;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 700;
    margin:0;
}

h3 {
   
}
p {
    font-family: 'Open Sans', sans-serif;
    margin:0;
}


button {
background-color:  hsl(224, 93%, 58%);
color: white;
width: 15rem;
height: 2rem;
border:none;
border-radius: 2px;
}

form {
background-color: white;
width: 15rem;
height: 2rem;
margin-bottom: .5rem;
border: rgb(114, 112, 112) solid .5px;
color: hsl(0, 0%, 75%);
text-align: left;
border-radius: 2px;
}

img {
	display: block;
	max-width: 100%;
    mix-blend-mode: multiply;
}

ul {
    list-style-type: none;
}

footer {
    background-color: hsl(243, 87%, 12%);
    color: white;
    text-align: left;
    }

.form {
    display: inline-block;
}


.logo-top {
    width: 20%;
    height: 20%;
}

.nav-list {
    text-align: right;
    width: 100%;
    height: 20px;

}
.nav {
    margin: .5rem;
    display: inline;
}

.illustrations-one {
    margin-top: 6rem;
}

.cover-image-desktop,
.cover-image-mobile {
	object-fit: cover;
}

.cover-image-desktop {
	display: none;
}

.content {
    background-color: hsl(240, 75%, 98%);
}

.green-button {
    color: hsl(170, 45%, 43%);
    background-color:  hsl(240, 75%, 98%);
    border-bottom: hsl(170, 45%, 43%) solid 1px;
    ;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.testimonial {
    background-color: white;
    padding: 2px 16px;

}

.cta {
    background-color: hsl(238, 22%, 44%);
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

	/* Medias  */

    @media (min-width: 375px) {
        .cover-image-mobile {
            display: none;
        }

        .cover-image-desktop {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .form {
            margin-bottom: 0;
        }
    }